<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bad+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <h1 id="page-title">To Do List</h1>
    <div class="content-container">
        <div class="add-task-container">
            <h2>Add Task:</h2>
            <form id="add-task-form" action="/submit" method="POST">
                <input id="new-title" type="text" name="taskTitle" placeholder="Task Title" required>
                <input id="new-desc" type="text" name="taskDesc" placeholder="Task Description" required>
                <!--ADD DATE FUNCTIONALITY-->
                <input type="submit" value="Submit">
            </form>
        </div>
        <section class="list-section">
            <div class="list-container">
                <h2>To Do List:</h2>
                <% if (locals.posts[0]) { %>
                    <% posts.forEach((post) => { %>
                        <div class="task-container">
                            <input form="check-off-form" type="checkbox" id="check<%= post.tskId %>" name="check<%= post.tskId %>">               
                            <h3 class="task-title"><%= post.tskTitle %></h3>
                            <p class="task-desc"><%= post.tskDesc %></p>
                        </div>
                    <% }) %>
                    <form id="check-off-form" action="/checkoff" method="POST">
                        <input type="submit" value="Check Off Tasks">
                    </form>
                <% } %>
            </div>
        </section>
    </div>
</body>
</html>
